body
{
	background-color: #2D2D2D; /*A7A9AC*/
	max-width: 100%;
	max-height: 100%;
}
h1
{
	font-size: 60px;
	color : #0000FF;
	text-align: center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
img
{
    box-shadow: 5px 5px 5px #000101;	
}
.content
{
	width: 980px;
	margin: auto;
}
#topColor
{
	margin-top: -40px;
	margin-left: 25%;
    width: 980px;
    height: 400px;
    background: #ED1C24;
    box-shadow: 0px -7.5px 10px 7.5px #000101;
}
#divider
{	
	position: absolute;
    width: 978px;
    height: 50px;
    border: 1px solid black;
    background: #27AAE1;	
    margin: auto;
    top: 400px;
}
#bottomColor
{
border-radius: 0px 0px 15px 15px;	
position: absolute;
    width: 980px;
    height: 400px;
    background: #ED1C24;
    margin: auto;
    top: 415px;
    box-shadow: 0px 7.5px 10px 7.5px #000101;
}
.trump-with-img
{
 	display: inline-block;
	float: left;
 	margin-left: auto;
 	padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    text-align:center;
}
.colbert-with-img
{
 	display: inline;
 	float: right;
 	padding-top: 0px;
    padding-right: 60px;
    padding-bottom: 50px;
    padding-left: 30px;
    text-align:center;
}
#quoteSectn
{
	color: white;
 	margin-right: auto;
    border: 2px solid white;
    padding: 5px;
	text-align: center;
	width: 30%;
	margin: auto;
	margin-top: 0px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
}
#nextBtn
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
}
#trump, #colbert
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 28px;
	color: white;
	display: inline-block;
	vertical-align: middle;
}
#trumpstyle, #colbstyle
{
	display: inline-block;
	vertical-align: middle;
}
h2
{
	color : 000000;
	text-align: center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-top: 0px;
}