body
{
	background-color: black;
}
h1
{
	font-size: 60px;
	color : #0000FF;
	text-align: center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.trump-with-img
{
	display: inline;
	float: left;
 	margin-left: auto;
 	padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
.colbert-with-img
{
 	display: inline;
 	float: right;
 	padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
#quoteSectn
{
	color: white;
 	margin-right: auto;
    border: 5px solid red;
	text-align: center;
	width: 30%;
	margin: auto;
	margin-top: 0px;
}
#nextBtn
{

}
#trump, #colbert
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 35px;
	color: white;
}
h2
{
	color : green;
	text-align: center;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-top: 50px;
}